<div id="map" style="min-height: 350px;"></div>

<script>
L.mapbox.accessToken = 'pk.eyJ1IjoiaGl1IiwiYSI6InJWNGZJSzgifQ.xK1ndT3W8XL9lwVZrT6jvQ';
var map = L.mapbox.map('map',  null, { infoControl: false, attributionControl: true, minZoom: 2,
      maxZoom: 16, scrollWheelZoom: false });
// map.attributionControl.setPrefix('');

//http://gis.stackexchange.com/questions/111887/leaflet-mouse-wheel-zoom-only-after-click-on-map
map.once('focus', function() { map.scrollWheelZoom.enable(); });

// L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
//     attribution: '<a href="http://osm.org/copyright">&copy; OpenStreetMap contributors</a>'
// }).addTo(map);

var tileURL = L.Browser.retina ? "https://api.mapbox.com/styles/v1/mapbox/light-v10/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiaGl1IiwiYSI6InJWNGZJSzgifQ.xK1ndT3W8XL9lwVZrT6jvQ" : "https://api.mapbox.com/styles/v1/mapbox/dark-v10/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiaGl1IiwiYSI6InJWNGZJSzgifQ.xK1ndT3W8XL9lwVZrT6jvQ";
L.tileLayer(tileURL, {
    attribution:'<a href="https://www.mapbox.com/about/maps">© Mapbox</a> <a href="http://openstreetmap.org/copyright">© OpenStreetMap</a>'
}).addTo(map);

//var featureLayer = L.mapbox.featureLayer().loadURL('{{ site.baseurl }}/events.geojson',{
var featureLayer = L.mapbox.featureLayer().loadURL('https://o5sxlalqle.execute-api.us-east-1.amazonaws.com/dev/events_geojson',{  style: L.mapbox.simplestyle.style })
//var featureLayer = L.geoJson(geojson, { style: L.mapbox.simplestyle.style }).addTo(map);

featureLayer.addTo(map);

 featureLayer.on('ready', function() {
  map.fitBounds(featureLayer.getBounds());
});
featureLayer.on('layeradd', function(e) {
  var marker = e.layer,
  feature = marker.feature;
  // Create custom popup content
  var popupContent = '<h2 class="text-center" style="color: #8cc250">'+feature.properties.event_name+'</h2>';
  // http://leafletjs.com/reference.html#popup
  marker.bindPopup(popupContent,{
    minWidth: 200,
    closeButton: false,
  });
}); 
</script>
