<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
<body class='{% if page.url == "/index.html" %}front{% endif %}'>

<div class='fill-dark dark'>
<div class='site-navigation text-right space col12 pad2'>
  <a href='{{site.baseurl}}/index.html' class='fl logo-text'><span class='text-green'>#</span><span class='text-white'>osm</span><span class='text-green'>geo</span><span class='text-white'>week</span></a>
  <!-- <a class='strong {% if page.url contains "about" %}active{% endif %}' href='{{site.baseurl}}/about/'>About</a> -->
  <a class='small {% if page.url contains "events" or page.category == "event" %}active{% endif %}' href='{{site.baseurl}}/events/'>Events</a>


  <a class='small {% if page.url contains "projects" or page.category == "project" %}active{% endif %}' href='{{site.baseurl}}/projects/'>Projects</a>


  <a class='small {% if page.url contains "guides" %}active{% endif %}' href='{{site.baseurl}}/guides/'>Guides</a>
  <!--
  <a class='small {% if page.url contains "metrics" %}active{% endif %}' href='{{site.baseurl}}/metrics/'>Metrics</a>
-->
  <a class='small' href='https://teachosm.org/' target="_blank">TeachOSM</a>
  </div>
</div>

<!--
<div class='fill-red'>
  <div class='liner clearfix center fill-darken3 dark col12'>
    <h3 class='pad2'><a href="/result/">Check out the results from OSMGeoWeek. Stats, photos, visualizations</a></h3>
  </div>
</div>
-->

{{content}}
<section id='sponsors' class='col12 center fill-light pad2y'>
  <div class='limiter clearfix'>
    <div class='col10 margin1'>
      <h2 class='space-bottom1'>Hosted by</h2>
      <nav class='space-bottom2'>
        <a href='https://teachosm.org' >
          <img src="{{site.baseurl}}/img/logos/teachosm.png" alt="TeachOSM, a program of OpenStreetMap US" style="height:85px;padding:0;margin:10px;"/>
        </a>
      </nav>
    </div>
  </div>
  <div class='limiter clearfix'>
    <div class='col10 margin1'>
      <h2 class='space-bottom1'>Participating Groups</h2>

      <!--
      <nav class='space-bottom2'>
        <a href='http://www.nationalgeographic.com/' class='sponsor natgeo'>National Geographic</a>
      </nav>
      -->
      <nav class='space-bottom2'>
        <!--<a href='http://openstreetmap.us/' class='sponsor osmus'>OpenStreetMap US</a>0-->
        <!--<a href='http://hot.openstreetmap.org/' class='sponsor hot'>HOT</a>-->
        <!-- <a href='https://hotosm.org/' >
           <img src="{{site.baseurl}}/img/logos/HOT_transparent.png" style="height:60px;margin-top: 20px;margin-left: 35px;">
        </a>

        <a href='http://mapgive.state.gov/' >
           <img src="{{site.baseurl}}/img/logos/mapgive_transparent.png" style="height:55px;margin-top: 20px;">
        </a>
        
        
        <a href='http://www.redcross.org/' >
           <img src="{{site.baseurl}}/img/logos/redcross-logo.png" style="height:65px;margin-top: 20px;">
        </a>

        <a href='http://www.missingmaps.org/' >
           <img src="{{site.baseurl}}/img/logos/missingmaps.svg" style="height:70px;margin-top: 20px;">
        </a>

	      <a href='https://www.usaid.gov/GlobalDevLab' >
	         <img src="{{site.baseurl}}/img/logos/usaid.png" style="height:105px;">
	      </a> -->
        <a href='http://www.youthmappers.org/' >
           <img src="{{site.baseurl}}/img/logos/youthmappers_transparent.png" alt="youthmappers" style="height:65px;margin-top: 15px;">
        </a>
        <!-- <a href='http://openstreetmap.us/' >
           <img src="{{site.baseurl}}/img/logos/OSM_US_transparent.png" style="height:75px;margin-left: 5px;">
        </a> -->
        <!-- <a href='http://www.nationalgeographic.com/' >
           <img src="{{site.baseurl}}/img/logos/natgeo_transparent.png" style="height:45px;">
        </a>


        <a href='https://www.msf.org/' >
          <img src="{{site.baseurl}}/img/logos/MSF_dual_English_RGB.png" style="height:60px;margin-top:25px">
        </a> -->

<!--
        <a href='http://www.peacecorps.gov/' >
	        <img src="{{site.baseurl}}/img/logos/peacecorps.svg" style="height:55px;">
	      </a>
-->
        <!-- <a href='https://www.gfdrr.org/' >
	       <img src="{{site.baseurl}}/img/logos/gfdrr_transparent.png" style="height:45px;margin-top: 15px;">
	    </a>

        <a href='http://opengovhub.org/' >
	       <img src="{{site.baseurl}}/img/logos/opengovhub_transparent.png" style="height:80px;">
	    </a>
        
        <a href='http://kathmandulivinglabs.org/' >
	       <img src="{{site.baseurl}}/img/logos/kll.png" style="height:80px;">
	    </a>

        <a href='https://www.mapbox.com' >
	       <img src="{{site.baseurl}}/img/logos/mapbox_logo.png" style="height:40px;margin-top:20px">
	    </a>
        
        <a href='https://developmentseed.org/' >
	       <img src="{{site.baseurl}}/img/logos/dev_seed.svg" style="height:35px;margin-top:20px">
	    </a>
        <a href='https://www.facebook.com/mapPHL/' >
	       <img src="{{site.baseurl}}/img/logos/MapPH_Logo_Clear.png" style="height:55px;margin-top:20px">
	    </a> -->
        
        <!-- <a href='http://secondarycities.state.gov/' >
	      <img src="{{site.baseurl}}/img/logos/2C_LogoWhiteOnBlue_small.png" style="height:50px;margin-top:15px">
	    </a> -->
        
        <!-- <a href='http://eca.state.gov/programs-initiatives/international-education-week' >
	      <img src="{{site.baseurl}}/img/logos/IEW_inverse.png" style="height:50px;margin-top: 10px;">
	    </a> -->
        
        <!-- <a href='http://www.pepfar.gov/' >
	      <img src="{{site.baseurl}}/img/logos/PEPFAR_Logo_transparent.gif" style="height:100px;margin-top:5px">
	    </a> -->

        <a href='http://americangeo.org/' >
          <img src="{{site.baseurl}}/img/logos/ags_green_logo.png" alt="The American Geographical Society" style="height:100px;margin-top:10px">
        </a>

        <!-- <a href='http://www.youthinnovationlab.org' >
          <img src="{{site.baseurl}}/img/logos/youth_innovation_lab_logo_redesign.png" style="height:50px;margin-top:25px">
        </a>
         -->
        <!-- <a href='http://www.critigen.com' >
          <img src="{{site.baseurl}}/img/logos/critigen_logo.jpg" style="height:50px;margin-top:25px">
        </a> -->
        
        <!-- <a href='https://wiki.openstreetmap.org/wiki/EuYoutH_OSM' >
          <img src="{{site.baseurl}}/img/logos/EuYoutHLogo2.jpeg" style="height:75px;margin-top:25px">
        </a> -->

        
<!--
        <a href='http://americangeo.org/' >
          <img src="{{site.baseurl}}/img/logos/ags.jpg" style="height:105px;">
        </a>-->
      </nav>
    </div>
  </div>
</section>

<section class='fill-white pad2y center'>
  <div class='limiter' tx-content="translate_urls">
    <p><strong>Interested in participating?</strong> Email <a href='mailto:info@teachosm.org '>info@teachosm.org </a> to learn more. <strong>Visit this site's <a href='https://github.com/state-hiu/osmgeoweek-2017'>Github repository</a></strong></p>
  </div>
</section>
<footer class='col12 center fill-dark dark'>
  <div class='pad2y col12'>
    <div class='limiter'>
      <p class='small hide-mobile'>
        <a href='http://osmgeoweek.org'>Geography Awareness Week - OpenStreetMap</a> | <a href='https://twitter.com/search?q=%23osmgeoweek&src=typd'>#osmgeoweek</a> | Photo credits: USAID, 596 acres, UCSB, Kerri Lee Smith, Peace Corps The Gambia, Becky Carnes 
<!-- https://www.flickr.com/photos/usaid_images/11712673254/ -->
<!-- http://596acres.org/en/ -->
<!-- http://helios.geog.ucsb.edu/events/department-news/963/ucsb-geography-promotes-the-adventure-in-your-community-for-geography-awareness-week/ -->
<!-- https://www.flickr.com/photos/77654185@N07/8082899697 -->
      </p>
      <a href='https://twitter.com/search?q=%23osmgeoweek&src=typd' class='show-mobile small dark'>#osmgeoweek</a>
    </div>
  </div>
</footer>
</body>
</html>
