
<html>
<head>
  {% include head.html %}
  
  <!--new additions-->
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{site.baseurl}}/metrics/leaflet.css" type="text/css"/>
  <link rel="stylesheet" href="{{site.baseurl}}/metrics/style.css" type="text/css" media="screen" title="no title" charset="utf-8">

  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>
  <!--<link rel="shortcut icon" href="https://developmentseed.org/assets/graphics/meta/favicon.ico" type="image/x-icon">-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body class='{% if page.url == "/index.html" %}front{% endif %}'>

<div class='fill-dark dark'>
<div class='site-navigation text-right space col12 pad2'>
  <a href='{{site.baseurl}}/index.html' class='fl logo-text'><span class='text-green'>#</span><span class='text-white'>osm</span><span class='text-green'>geo</span><span class='text-white'>week</span></a>
  <!-- <a class='strong {% if page.url contains "about" %}active{% endif %}' href='{{site.baseurl}}/about/'>About</a> -->
  <a class='small {% if page.url contains "events" or page.category == "event" %}active{% endif %}' href='{{site.baseurl}}/events/'>Events</a>
  <a class='small {% if page.url contains "projects" or page.category == "project" %}active{% endif %}' href='{{site.baseurl}}/projects/'>Projects</a>
  <a class='small {% if page.url contains "plan" %}active{% endif %}' href='{{site.baseurl}}/plan/'>Guides</a>
  <a class='small {% if page.url contains "metrics" %}active{% endif %}' href='{{site.baseurl}}/metrics/'>Metrics</a>
  <a class='small' href='http://osmstories.org/' target="_blank">OSM Stories</a>
  </div>
</div>


<div class='fill-green dark'>
  <div class='limiter'>
    <div class='pad2y'>
      <h1 class='center'>{{page.title}}</h1>
      <p class='prose-big'></p>
    </div>
  </div>
</div>

{{content}}


<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="{{site.baseurl}}/metrics/leaflet.js" type="text/javascript" charset="utf-8"></script>

//It will read the main.js file and process_timeline.js file from the same folder it is in
<script src="process_timeline.js" type="text/javascript" charset="utf-8"></script>
<script src="main.js" type="text/javascript" charset="utf-8"></script>


</body>
</html>
